.container {
  background-image: url('/background_cortado.png'); /* Caminho absoluto para a imagem */
  background-size: cover;
  background-position: center top;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  position: relative;
}

.titleContainer {
  position: absolute;
  top: 10vh; /* Ajusta essa posição para controlar a altura do título */
  width: 100%;
  text-align: center;
}

.title {
  font-family: var(--font-rubik), sans-serif;
  font-size: 31px;
  margin: 0;
  color: #000000;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  margin-top: 270px; 
}

.fadeInButton {
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 2s;
  padding: 12px 70px;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #333333; /* Cor escura para o botão */
  border: none; /* Remove a borda branca */
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.2s ease, background-color 0.2s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); /* Sombra suave */
  width: 100%;
}

.fadeInButton:hover {
  background-color: gray; /* Altera a cor no hover */
  transform: scale(1.05); /* Leve aumento no hover */
}

/* Animação de fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
